In [1]:
message = "Assalam o Alaikum, Python World!"
print(message)

Assalam o Alaikum, Python World!

In [2]:
message2 = "I am from Usman Institute of Technology"
message3 = "My Teachers are great.."
print(message2)
print(message3)

I am from Usman Institute of Technology
My Teachers are great..

In [3]:
name = "sheIKh bIlaL NaSiR"
# three functions can be used title(), upper (), lower ()
print(name.title())
print(name.lower())
print(name.upper())

Sheikh Bilal Nasir
sheikh bilal nasir
SHEIKH BILAL NASIR

In [2]:
message = input("Tell me something, and I will repeat it back to you: ")
print(message)

Tell me something, and I will repeat it back to you: My name is Bilal.
My name is Bilal.

In [1]:
name = input("Please enter your name : ")
print("Assalam o Alaikum, " + name + "!")

Please enter your name : Bilal Nasir
Assalam o Alaikum, Bilal Nasir!

In [3]:
uni_first_name = "Usman"
uni_mid_name = "Institute of"
uni_last_name = "Technology"
full_name = uni_mid_name + " " + uni_mid_name + " " + uni_last_name
print(full_name)

Institute of Institute of Technology

In [6]:
print("I learned these programming languages: \nC \nJava \nPython")

I learned these programming languages:
C
Java
Python

In [8]:
# Add, Sub, Mul, Div, Pow
print(2+5)
print(6-4)
print(5*5)
print(6/1.5)
print(2**2)
print(3+5*2)
print((3+5)*2)

7
2
25
4.0
4
13
16

In [9]:
print(2.2+5)
print(6-4.2)
print(5*5.5)
print(6/1.5)
print(2.4**2)
print(3+5.2*2)
print((3+5.2)*2)

7.2
1.7999999999999998
27.5
4.0
5.76
13.4
16.4

# Lab 1

In [13]:
name = input("What's your name: ")
age = int(input("How old are you: "))
year = str((2018-age)+100)
print(name + " Will be 100 years old in the year " + year)

What's your name: Bilal Nasir
How old are you: 18
Bilal Nasir Will be 100 years old in the year 2100

In [14]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are! \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [16]:
import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2018-10-12 12:11:22

In [28]:
from math import pi
r = float(input("Input the radius of the circle: "))
print("The area of the circle with radius " + str(r)+ " is : " +str(pi*r**2))

Input the radius of the circle: 5
The area of the circle with radius 5.0 is : 78.53981633974483

In [30]:
fname = input("Input your first name: ")
lname = input("Input your last name: ")
print("Hello "+lname+" "+fname)

Input your first name: Bilal
Input your last name: Nasir
Hello Nasir Bilal

In [31]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y,m))

Input the year : 2018
Input the month : 10
    October 2018
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31